Repository totara/totara-docker-dev, pull requests merged in 2018-12, with the labels that each got.

#15 Fix enabling xdebug
  php/php56-debug/Dockerfile
  php/php70-debug/Dockerfile
  php/php71-debug/Dockerfile
  php/php72-debug/Dockerfile
  php/php73-debug/Dockerfile
Labels: PHP, xdebug

#13 Fix nginx upload limit
  nginx/config/server.conf
Labels: Nginx

#16 Add release-13 support
  README.md
  nginx/entrypoint.sh
Labels: enhancement

#17 Fix Internal Behat testing
  docker-compose.yml
Labels: bug
